<mat-card *ngIf="!isLoading">
    <form (submit)="onSignup(f)" #f="ngForm">
        <mat-form-field>
            <input type="email" placeholder="Email address" matInput ngModel name="email" #email="ngModel" required
                email>
            <mat-error *ngIf="email.invalid">Please enter valid email address</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" placeholder="Password" matInput ngModel name="password" #password="ngModel" required>
            <mat-error *ngIf="password.invalid">Please enter valid password</mat-error>
        </mat-form-field>
        <button type="submit" color="accent" mat-raised-button style="margin-top: 1em;"
            *ngIf="!isLoading">Signup</button>
    </form>
</mat-card>
<mat-spinner *ngIf="isLoading"></mat-spinner>